
__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
ENV/
.venv311/
pip-wheel-metadata/


build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

.ipynb_checkpoints/
*.ipynb_checkpoints

.vscode/
.idea/
.spyproject/
*.sublime-project
*.sublime-workspace


.DS_Store
Thumbs.db
desktop.ini

*.log
*.tmp
*.bak
*.swp
*.swo


dataset/images/
dataset/raw/
dataset/temp/
dataset/*.zip
dataset/*.tar
dataset/*.rar


dataset/models/
models/
checkpoints/
*.h5
*.pkl
*.joblib
*.ckpt

uploads/
results/
temp/
*.jpg
*.png

.env
.env.*


.jupyter/
.jupytext_cache/

*.db
*.sqlite3
*.sqlite

__pypackages__/
profiler_logs/
.mypy_cache/
.pyre/
.dmypy.json


*.code-workspace
.history/

*.ipynb~



dataset/images/

dataset/predicted_images_readable/
uploads/
